@font-face{
    font-family: 'Magra';
    src: url('../fonts/Magra-Bold.ttf');
}
section {
    text-align: center;
    background: #c8c10d;
    height: 8vh;
    text-transform: uppercase;
    color: #fff;
    font-size: x-large;
    line-height: 8vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 0 20px 50px;
}

.product_type {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 40px;
    width: 55%;
}

.product_type h2 {
    color: #cb3362;
    text-transform: capitalize;
    font-family: "Magra";
}

.product_type p {
    margin-top: 20px;
    color: #7a6666;
    font-size: 14px;
    line-height: 1.7;
}

.cakes {
    display: flex;
}

.cakes div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 20px;
}
.cakes h4 {
    font-weight: normal;
    color: #cb3362;
    margin-top: 10px;
    text-transform: uppercase;
}

#direction {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


